# Virtual Machine Name
name = "mac"

# Performance Settings
vcpus = 2
memory = 16384
superpages = 0

# Storage and Network
disk = [
    "/home/thai/workspace/xen/mac/mac.raw,raw,xvda,rw",
#    "/media/thai/projects/workspaces/OS/debian-live-13.5.0-amd64-kde.iso,raw,xvdc,ro,cdrom"
]

# Networking
#vif = [ "bridge=xenbr0, script=vif-bridge, type=vif" ]
# Chuyển sang dùng cơ chế định tuyến trực tiếp, gán luôn IP tĩnh cho máy ảo từ đây
vif = [ 'bridge=xenbr0' ]

# Boot Settings (Use pygrub for installed OS, or hvm for ISO boot)
builder = "hvm"
# builder = "generic"
# bootloader = "pygrub"
boot = "cd" # Boot from CD-ROM first to install

# Graphics for installation
vnc = 1
vnclisten = "0.0.0.0"
stdvga = 1

# --- Giả lập phần cứng cơ bản ---
acpi = 1
apic = 1
pae = 1
# --- Change mouse type USB tablet
usbdevice='tablet'

# --- Lifecycle Actions ---
on_poweroff = "destroy"          # Tắt hẳn VM khi bấm nút Shutdown
on_reboot   = "restart"          # Chỉ khởi động lại nếu chọn Reboot bên trong OS
on_crash    = "preserve"         # GIỮ NGUYÊN trạng thái khi bị crash để bạn đọc log/debug (không tự restart)

